body
    background #eee
    color #222

.shadow
    -webkit-box-shadow 0px 0px 30px -10px rgba(0,0,0,0.75)
    -moz-box-shadow 0px 0px 30px -10px rgba(0,0,0,0.75)
    box-shadow 0px 0px 30px -10px rgba(0,0,0,0.75)

.box
    background #F2F2F2
    margin-top 15px
    padding 10px
    width 100%
    transition 1s
    -moz-transition 1s
    -webkit-transition 1s

.valign
    position relative
    top 50%
    transform translateY(-50%)

.load
    margin-top

.header
    font-size 2.5rem
    color #222
    font-family Raleway

.btn
    background-image linear-gradient(120deg, #147670, #148168)
    width 100%

input
    color #222
    font-family Lato

input .valid
    border-bottom 1px solid #26a69a !important
    box-shadow 0 1px 0 0 #26a69a !important

.page-header
    padding-top 1rem !important
    padding-bottom 5rem !important

.item
    height auto !important
    width auto !important

.card
    height auto
    margin-bottom 10px
    box-shadow 0px 0px 3px 2px #c8c4c4

.card-image
    padding 5px
    box-shadow inset 0px 0px 20px -9px #000

.stattrak
    box-shadow 0px 0px 3px 2px #cf6a32 !important

.souvenir
    box-shadow 0px 0px 3px 2px #ffd700 !important

.knife
    box-shadow 0px 0px 3px 2px #8650ac !important

.animation
    -webkit-transition color, background-color 1s ease-in
    -moz-transition color, background-color 1s ease-in
    -o-transition color, background-color 1s ease-in
    -ms-transition color, background-color 1s ease-in
    transition color, background-color 1s ease-in

.animation.ng-enter
    opacity 0

.animation.ng-leave
    opacity 1

.animation.ng-enter.ng-enter-active
    opacity 1

.animation.ng-leave.ng-leave-active
    opacity 0

.dropdown-button
    float left

.row .col.s1
    width 10%

.row .col.s2
    width 12.5%

.row .col.s3
    width 16.66666666666667%

.row .col.s4
    width 30%

.price
    position absolute
    margin 0
    bottom 0
    left 0
    font-family Lato
    text-align center
    color #000
    width 100%
    opacity 0.8

label
    float left

.info-area
    font-family Lato, Raleway
    margin 0
