body {
  background: #eee;
  color: #222;
}
.shadow {
  -webkit-box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.75);
}
.box {
  background: #f2f2f2;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
}
.valign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.header {
  font-size: 2.5rem;
  color: #222;
  font-family: Raleway;
}
.btn {
  background-image: linear-gradient(120deg, #147670, #148168);
}
input {
  color: #222;
  font-family: Lato;
}
input .valid {
  border-bottom: 1px solid #26a69a !important;
  box-shadow: 0 1px 0 0 #26a69a !important;
}
.page-header {
  padding-top: 1rem !important;
  padding-bottom: 5rem !important;
}
.item {
  height: auto !important;
  width: auto !important;
}
.card {
  height: auto;
  margin-bottom: 0;
}
.card-image {
  padding: 5px;
  box-shadow: inset 0px 0px 20px -9px #000;
}
.stattrak {
  border: 1px solid #cf6a32;
}
.souvenir {
  border: 1px solid #ffd700;
}
.knife {
  border: 1px solid #8650ac;
}
.animation {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
.animation.ng-enter {
  opacity: 0;
}
.animation.ng-leave {
  opacity: 1;
}
.animation.ng-enter.ng-enter-active {
  opacity: 1;
}
.animation.ng-leave.ng-leave-active {
  opacity: 0;
}
.dropdown-button {
  float: left;
}
.row .col.s1 {
  width: 10%;
}
.row .col.s2 {
  width: 12.5%;
}
.row .col.s3 {
  width: 16.66666666666667%;
}
