
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A small web page consisting of tools for Steam">
    <meta name="keywords" content="steam, tools, steam tools, inventory, steam inventory, csgo, counter strike, cs, counter, strike">
    <meta name="author" content="Rob">
    <meta name="theme-color" content="#1B2327">

    <title>Steam</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href='css/main.css' rel='stylesheet' type='text/css' media='screen'>
    <link href='css/light.css' rel='stylesheet' type='text/css'  media='screen'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
</head>
<body ng-app="inventoryLoader">
    <section ng-controller="inventoryCtrl" class="page-header">
        <div ng-style="{'background-color': transparent ? 'rgba(255, 255, 255, 0.25)' : 'rgba(255, 255, 255, 1)'}" class="container box shadow">
            <br>
            <h1 ng-style="{'color': transparent ? '#fff' : '#222'}" class="animation project-name header">CS:GO Inventory Loader</h1>
            <hr>
            <div class="row">
                <div class="col s8 offset-s2">
                    <div class="row">
                        <div class="input-field col s8">
                            <input ng-style="{'color': transparent ? '#fff' : '#9e9e9e'}" class="animation" ng-keydown="$event.which === 13 && loadInventory()" ng-model="username" id="username" type="text" class="validate">
                            <label ng-style="{'color': transparent ? '#fff' : '#9e9e9e'}" class="animation" for="username">Steam ID</label>
                        </div>
                        <div class="input-field col s4">
                            <a disabled="username == '' || username == undefined" ng-click="loadInventory()" class="waves-effect waves-light btn">Load</a>
                        </div>
                    </div>
                </div>
                <div class="col s4 offset-s2 settings-dropdown">
                    <ul id="column-size-dropdown" class="dropdown-content">
                        <li><a ng-click="columnSize = 1">Small</a></li>
                        <li><a ng-click="columnSize = 2">Medium</a></li>
                        <li><a ng-click="columnSize = 3">Large</a></li>
                    </ul>
                    <a class="btn dropdown-button" href="#!" data-activates="column-size-dropdown">Item Sizes<i class="mdi-navigation-arrow-drop-down right"></i></a>
                </div>
                <div class="col s4 settings-dropdown">
                    <ul id="currency-dropdown" class="dropdown-content">
                        <li ng-repeat="currency in currencies"><a ng-click="updateCurrency($index)">{{currency[0]}}</a></li>
                    </ul>
                    <a class="btn dropdown-button" href="#!" data-activates="currency-dropdown">{{currency.abbr}}</span><i class="mdi-navigation-arrow-drop-down right"></i></a>
                </div>
                <div class="col s4">
                    <input ng-model="transparent" type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                    <label ng-style="{'color': transparent ? '#fff' : '#9e9e9e'}" class="animation" for="filled-in-box">Transparent background</label>
                </div>
            </div>
            <hr>
            <div ng-if="!loading && !error && data.items.length" ng-style="{'color': transparent ? '#fff' : '#9e9e9e'}" class="row info-area animation">
                <p>Total: <span ng-bind-html="data.total | currencyFilter:currency.prefix"></span> / {{data.items.length}} skins</p>
            </div>
            <hr ng-if="!loading && !error && data.items.length">
            <div class="row">
                <h4 ng-if="loading" ng-style="{'color': transparent ? '#fff' : '#9e9e9e'}" class="animation">Loading {{username}}'s inventory...</h4>
                <div ng-if="loading" class="col s6 offset-s3 progress">
                    <div class="indeterminate"></div>
                </div>
                <br ng-if="loading">
                <div ng-if="error" ng-style="{'color': transparent ? '#fff' : '#9e9e9e'}" class="animation">
                    <br>
                    <h4>Error fetching inventory...</h4>
                    <p>This error could've occured because<br>Steam Community is down<br>or<br><i>{{username}}</i> could have their inventory set to private
                </div>
                <br ng-if="error">
                <div class="col s{{columnSize}} animation" ng-repeat="item in data.items track by $index">
                    <div ng-class="item.classes" class="card">
                        <div class="card-image" data-position="bottom" data-delay="50" data-tooltip="<h1>test</h1>">
                            <img class="item" src="https://steamcommunity-a.akamaihd.net/economy/image/{{item.icon_url}}/{{columnSize == 1 ? '85fx65f' : columnSize == 2 ? '115fx88f' : '163fx126f'}}">
                            <p ng-style="{'font-family': columnSize == 1 ? 'Roboto' : 'Segoe UI','box-shadow': '0px 0px 1px 0px #' + item.rarity.colour, 'background-color': '#' + item.rarity.colour, 'font-size': columnSize == 1 ? '1rem' : columnSize == 2 ? '1.5rem' : '2rem'}" class="price"><span ng-bind-html="item.price | currencyFilter:currency.prefix"></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="main-content">
      <footer class="site-footer">
        <span class="site-footer-owner">Utility to load CS:GO inventories for Steam.</span>
        <span class="site-footer-credits">Maintained by <a href="https://github.com/Rob--">Rob</a>.</span>
      </footer>
    </section>

    <script src="js/main.js"></script>
</body>
</html>
