
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A small web page consisting of tools for Steam">
    <meta name="keywords" content="steam, tools, steam tools, inventory, steam inventory, csgo, counter strike, cs, counter, strike">
    <meta name="author" content="Rob">
    <meta name="theme-color" content="#1B2327">

    <title>Steam</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href='css/main.css' rel='stylesheet' type='text/css' media='screen'>
    <link href='css/light.css' rel='stylesheet' type='text/css'  media='screen'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
</head>
<body ng-app="inventoryLoader">
    <section ng-controller="inventoryCtrl" class="page-header">
        <div class="container box shadow">
            <br>
            <h1 class="project-name header">CS:GO Inventory Loader</h1>
            <hr>
            <div class="row">
                <div class="col s8 offset-s2">
                    <div class="row">
                        <div class="input-field col s8">
                            <input ng-model="username" id="username" type="text" class="validate">
                            <label for="username">Steam ID</label>
                        </div>
                        <div class="input-field col s4">
                            <a ng-click="loadInventory()" class="waves-effect waves-light btn">Load</a>
                        </div>
                    </div>
                </div>
                <div class="col s3 offset-s2">
                    <ul id="column-size" class="dropdown-content">
                        <li><a href="#!">Small</a></li>
                        <li><a href="#!">Medium</a></li>
                        <li><a href="#!">Large</a></li>
                    </ul>
                    <a class="btn dropdown-button" href="#!" data-activates="column-size">Item Sizes<i class="mdi-navigation-arrow-drop-down right"></i></a>
                </div>
            </div>
            <hr>
            <div class="row">
                <h4 ng-if="loading">Loading {{username}}'s inventory...</h4>
                <div ng-if="loading" class="col s6 offset-s3 progress">
                    <div class="indeterminate"></div>
                </div>
                <div ng-if="error">
                    <h4>Error fetching inventory...</h4>
                    <p>This error could've occured because of the following reasons:</p>
                    <ul>
                        <li>Steam Community is down</li>
                        <li><i>{{username}}</i> could have their inventory set to private.</li>
                    </ul>
                </div>
                <div class="col s{{columnSize}} animation" ng-repeat="item in items track by $index">
                    <div ng-class="item.classes" class="card">
                        <div class="card-image">
                            <img class="item" src="https://steamcommunity-a.akamaihd.net/economy/image/{{item.icon_url}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="main-content">
      <footer class="site-footer">
        <span class="site-footer-owner">Utility to load CS:GO inventories for Steam.</span>
        <span class="site-footer-credits">Maintained by <a href="https://github.com/Rob--">Cayman theme</a> Rob.</span>
      </footer>
    </section>

    <script src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-animate.min.js"></script>
</body>
</html>
